{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}healthpage{% endblock %}

{% block content %}

  <div class="page-content">

    <header>

      <div class="overlay health">
        <h1>{{ page.page_title }}</h1>
      </div>

      {% image page.page_header_image original as img %}

      <img class="medium-banner" src="{{ img.url }}" alt="">

    </header>

    <section class="intro">
      <p>{{ page.page_intro }}</p>
    </section>

    {% include "./includes/treatments_list.html" %}

  </div>

  <section>
    <a href="/" class="button">< Home</a>
  </section>

{% endblock %}
