{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}yogalesson{% endblock %}

{% block content %}

  <div class="page-content">

    <header>

      <div class="overlay">
        {% if page.page_title %}<h1>{{ page.page_title }}</h1>{% endif %}
      </div>

      {% if page.page_header_image %}

        {% image page.page_header_image original as img %}

      {% else %}

        {% image page.lesson_image original as img %}

      {% endif %}

      <img class="medium-banner" src="{{ img.url }}" alt="">

    </header>

    <section class="yoga-lesson">

      {% if page.lesson_title %}

        <h1>{{ page.lesson_title }}</h1>

        {% else %}

          <h1>Yoga Lesson</h1>

      {% endif %}

      <div class="lesson">
        <div class="lesson__info">
          {% if page.lesson_teacher %}<p>Teacher: {{ page.lesson_teacher }}</p>{% endif%}
          {% if page.lesson_date %}<p>Date: {{ page.lesson_date|date }}</p>{% endif %}
          {% if page.lesson_date %}<p>Time: {{ page.lesson_date|time }}</p>{% endif %}
          {% if page.lesson_price %}<p>Price: {{ page.lesson_price }}</p>{% endif %}
          {% if page.lesson_duration %}<p>Duration: {{ page.lesson_duration }}</p>{% endif %}
          {% if page.loc_name %}<p>Location: {{ page.loc_name }}</p>{% endif %}

          {% if page.lesson_desc %}<p>{{ page.lesson_desc }}</p>{% endif %}
        </div>
        <div class="lesson__map">
{#          <img src="http://placehold.it/300x200" srcset="http://placehold.it/300x200 300w" sizes="100vw"#}
{#               alt="Placeholder"/>#}
          <div class="lesson__map__google" id="google-map"></div>
        </div>
      </div>

      <div class="contact">
        <a href="tel:07895995563">Book: 07895 995563</a>
      </div>

    </section>

  </div>

  <section>
    <a href="/yoga" class="button">< Lessons</a>
  </section>

{% endblock %}

{% block extra_js %}

  {% include 'partials/google_map.html' with lat=page.loc_lat lon=page.loc_lng zoom=self.map_zoom %}

{% endblock %}
