.yoga-lessons {
  position: relative;
  padding: 40px;

  h2 {
    width: 80%;
  }
}


.yoga-lesson {

  h1 {
    padding: 20px;
    background: lavender;
  }

  .lesson {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    &__info {
      flex: 1;
      padding: 20px;
      background: lavender;
    }

    &__map {
      flex: 1;

      img {
        width: 100%;
      }
    }
  }
}
