.yoga-lessons {
  position: relative;
  padding: 40px;

  h2 {
    width: 80%;
  }
}

.yoga-lesson {

  h1 {
    padding: 20px 0;
    background: lavender;
  }

  .lesson {
    display: flex;
    margin-top: 40px;

    &__info {
      flex: 1;
      padding: 20px 20px 20px 0;
      background: lavender;
    }

    &__map {
      flex: 1;

      &__google {
        min-height: 400px;
      }

      img {
        width: 100%;
      }
    }
  }

  .contact {
    a {
      text-decoration: none;
      color: darken(#bcbcf2, 20%);
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 736px) {
  /* Styles */

  .yoga-lessons {
    padding: 20px;
  }

  .yoga-lesson {
    padding: 20px;

    h1 {
      padding: 0;
    }

    .lesson {
      flex-direction: column;
      margin-top: 5px;

      &__info {
        padding: 0;
      }
    }

  }

}