.health-treatments {
  padding: 40px;

  h2 {
    width: 80%;
  }

}


.health-treatment {

  h1 {
    padding: 20px;
    background: lavender;
  }

  .treatment {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    &__desc {
      flex: 1;
    }

    &__info {
      flex: 1;
      background: lavender;

      > p {
        padding: 25px;
      }
    }
  }
}
