.health-treatments {
  padding: 40px;

  h2 {
    width: 80%;
  }

}


.health-treatment {

  h1 {
    padding: 20px 0;
    background: lavender;
  }

  .treatment {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    &__desc {
      flex: 1;
    }

    &__info {
      flex: 1;
      background: lavender;

      > p {
        padding: 25px;
      }
    }
  }

  .contact {
    a {
      text-decoration: none;
      color: darken(#bcbcf2, 20%);
    }
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 736px) {
  /* Styles */

  .health-treatments {
    padding: 20px;
  }

  .health-treatment {

    h1 {
      padding: 0;
    }

    .treatment {
      margin-top: 5px;

      &__info {
        flex: 1;
        background: lavender;

        > p {
          padding: 5px;
        }
      }
    }
  }
}