.health-treatments {
  padding: 40px;

  h2 {
    width: 80%;
  }

}


.health-treatment {

  h1 {
    padding: 20px;
    background: lavender;
  }

  .treatment {
    display: flex;
    margin-top: 40px;

    &__info {
      flex: 1;
      padding: 20px;
      background: lavender;
    }
  }
}
