{% load wagtailcore_tags wagtailimages_tags %}

<section class="yoga-lessons">

  <h2>Lessons</h2>

  <div class="cards">

    {% for l in lessons %}

      <article class="card yoga">

        <a href="{{ l.specific.url }}">

          <picture class="thumbnail">

            {% image l.lesson_image original as img %}

            <img src="{{ img.url }}" alt="yoga picture">

          </picture>

          <div class="card__content">

            <h3>{{ l.lesson_title }}: {{ l.lesson_level }}</h3>

            <h5>{{ l.lesson_date|date }} {{ l.lesson_date|time }}</h5>

            <p>{{ l.lesson_desc|slice:":80" }}...</p>

            <p>Teacher: {{ l.lesson_teacher }}</p>

          </div>

        </a>

      </article>

    {% endfor %}

  </div>

</section>