/* List cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    background: #fff;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: #000;
    }

    img {
      width: 100%;
    }

    &__content {
      padding: 20px;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */

  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      background: #fff;
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      a {
        text-decoration: none;
        color: #000;
      }

      img {
        width: 100%;
      }

      &__content {
        padding: 20px;
      }
    }
  }
}