.enquiry {
  display: flex;
  background: darken($primary-site-color, 20%);

  &__info {
    flex: 1;
  }

  &__form {
    flex: 1;

    .form_input {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      label {

        input {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          color: darken($primary-site-color, 20%);
          border: 3px solid darken($primary-site-color, 30%);

          &:focus {
            outline: none;
          }
        }
      }

      textarea {
        width: 100%;
        height: 60px;
        padding: 10px;
        font-size: 16px;
        color: darken($primary-site-color, 20%);
        border: 3px solid darken($primary-site-color, 30%);

        &:focus {
          outline: none;
        }
      }

      &__row {
        display: flex;
        justify-content: space-between;

        div {
          flex: 1;
          padding: 5px;
        }

        button {
          margin: 5px;
          font-size: 20px;
          color: darken($primary-site-color, 20%);
          border: 3px solid darken($primary-site-color, 30%);
          cursor: pointer;
        }
      }

    }
  }

  &-thanks {
    p {
      margin-bottom: 70px;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 736px) {
  /* Styles */

  .enquiry {
    flex-direction: column;

    &__form {
      flex: 1;

      .form_input {
        margin-bottom: 5px;

        &__row {
          display: flex;

          button {
            width: 100%;
          }

          &.double {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

}