section {
  padding: 50px 40px 75px 40px;

  &.intro {
    padding: 40px 40px 0;
  }
}

.page-content {
  margin-top: 65px;
  position: relative;

  header {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;

      &.medium-banner {
        height: 300px;
      }
    }

    .overlay {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      width: 100%;
      margin-top: 85px;
      text-align: center;
      color: #fff;
      transition: ease-in 2s;

      h1 {
        font-size: 46px;
        text-shadow: -2px 1px 1px #6d6d77;
      }

      &__buttons {
        padding: 20px;
        display: flex;
        justify-content: space-evenly;

        .button.light {
          color: #6d6d77;
        }
      }

      &.hidden {
        opacity: 0;
        margin-top: 285px;
      }
    }
  }

  .body {
    display: flex;
    padding: 40px;

    .column {
      flex: 1;
      padding: 20px;
      line-height: 1.6;
    }
  }
}

/* iPhone 5 / SE */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 736px) {
  /* Styles */

  section {
    padding: 20px;
  }

  .page-content {

    header {

      img {

        &.medium-banner {
          height: 55px !important;
        }
      }

      .overlay {
        flex-direction: column !important;
        margin-top: 125px !important;

        &.yoga {
          margin-top: -5px !important;
        }

        &.health {
          margin-top: -5px !important;
        }

        h1 {
          margin-top: -5px !important;
        }

      }
    }

    .body {
      flex-direction: column;
      padding: 40px 5px;
    }
  }
}

/* iPhone 6/7/8 */
@media only screen and (min-width: 375px) and (max-width: 667px) {
  /* Styles */

  .page-content {

    header {

      .overlay {
        margin-top: 165px !important;

        h1 {
          margin-top: -5px !important;
        }

      }
    }

  }
}

/* iPhone 6/7/8/ plus */
@media only screen and (min-width: 414px) and (max-width: 736px) {
  /* Styles */

  .page-content {

    header {

      .overlay {
        margin-top: 190px !important;

        h1 {
          margin-top: -5px !important;
        }
      }
    }
  }
}
