.menu {
  position: fixed;
  top: 0;
  background: $primary-site-color;
  width: 100%;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 5px -1px darken($primary-site-color, 10%);

  a {
    flex: 1;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;

    &:hover {
      background: darken($primary-site-color, 5%);
    }

    &:active {
      background: darken($primary-site-color, 5%);
    }
  }
}