@import "./variables";

body {
  margin: 5px auto;
  background: $primary-site-color;

  font-family: 'Open Sans', sans-serif;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fix-bottom {
  bottom: 0;
  width: 100%;
}

.button {
  text-decoration: none;
  width: 160px;
  padding: 10px;
  border: 1px solid;
}

a:focus {
  color: darken(#bcbcf2, 20%);
}

a:active {
  color: darken(#bcbcf2, 20%);
}

a:visited {
  color: darken(#bcbcf2, 20%);
}

a:hover {
  color: darken(#bcbcf2, 40%);
}

textarea, input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import "./layout";
@import "./menu";
@import "./cards";
@import "enquiry";
@import "./footer";
@import "./home/home";
@import "./yoga/yoga";
@import "./health/health";
