body {
  margin: 0;
  padding: 0;
  background: lavender;

  font-family: 'Open Sans', sans-serif;

  box-sizing: border-box;
}

.button {
  text-decoration: none;
  width: 160px;
  padding: 10px;
  border: 1px solid;
}

a:focus {
  color: darken(#bcbcf2, 20%);
}

a:active {
  color: darken(#bcbcf2, 20%);
}

a:visited {
  color: darken(#bcbcf2, 20%);
}

a:hover {
  color: darken(#bcbcf2, 40%);
}

@import "./layout.scss";
@import "./menu.scss";
@import "./cards.scss";
@import "./footer.scss";
@import "./home/home.scss";
@import "./yoga/yoga.scss";
@import "./health/health.scss";
