{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}homepage{% endblock %}

{% block content %}

  <div class="page-content">

    <header>

      <div class="overlay hidden">
        <h1>{{ page.page_title }}</h1>

        <div class="overlay__buttons">
          <a class="button light" href="/yoga">Yoga</a>
          <a class="button light" href="/health">Health</a>
        </div>
      </div>

      {% image page.page_header_image original as img %}

      <img src="{{ img.url }}" alt="">

    </header>

    <section class="body">

      <div class="column">

        {% if page.page_intro_header %}

          <h2>{{ page.page_intro_header }}</h2>

        {% else %}
          <h2>Welcome to, you're drishti</h2>
        {% endif %}

        <p>{{ page.page_intro }}</p>
      
      </div>

      <div class="column">

        {% include 'streamfield/general.html' with content=page.body %}

      </div>

    </section>

  </div>

{% endblock %}
