{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}homepage{% endblock %}

{% block content %}

  <div class="page-content">

    <header>

      <div class="overlay hidden">
        <h1>{{ page.page_title }}</h1>

        <div class="overlay__buttons">
          <a class="button light" href="/yoga">Yoga</a>
          <a class="button light" href="/health">Health</a>
        </div>
      </div>

      {% image page.page_header_image original as img %}

      <img src="{{ img.url }}" alt="">

    </header>

    <section class="body">

      <div class="column">
        <h2>Welcome to, you're drishti</h2>

        <p>{{ page.page_intro }}</p>
      </div>

      <div class="column">
        <h2>What is, you're drishti</h2>

        <p>Drishti, or focused gaze, is a means for developing concentrated intention.
          It relates to the fifth limb of yoga (pratyahara) concerning sense withdrawal, as well as the sixth limb
          dharana relating to concentration.
        </p>
        <p>
          The sixth limb of yoga dharana (concentration), includes maintaining drishti during yoga practice in order to
          ensure dhyana meditation will occur.
        </p>
      </div>

    </section>

  </div>

{% endblock %}
